@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito:wght@200&display=swap');

* {
    margin: 0em;
    padding: 0em;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
}